<div class="form-group">
	<%= add.label :addres_lane %> <br />
	<%= add.text_field :address_line, class: 'form-control col-4' %>
</div>
<div class="form-group">
	<%= add.label :street %><br />
	<%= add.text_field :street, class: 'form-control col-4', required: true %>
</div>
<div class="form-group">
	<%= add.label :state %> <br/>
	<%= add.text_field :state, class: 'form-control col-4', required: true %>
</div>

<div class="form-group">
	<%= add.label :city %> <br/>
	<%= add.text_field :city, class: 'form-control col-4', required: true %>
</div>

<div class="form-group">
	<%= add.label :pincode %> <br/>
	<%= add.text_field :pincode, class: 'form-control col-4', required: true %>
</div>