<div class="container">
	<%= form_with model: @user do |f| %>
		<% if @user.admin? %>
			<div class="form-group">
				<%= f.label :phone_number %> <br/>
				<%= f.number_field :phone_number, class: 'form-control col-4' %>
			</div>
		<% else %>			
			<div class="form-group">
				<%= f.label :avatar %>
				<%= f.file_field :avatar, class: 'form-control col-4' %>	
			</div>

			<div class="form-group">
				<%= f.label :name %> <br/>
				<%= f.text_field :name, class: 'form-control col-4' %>
			</div>

			<div class="form-group">
				<%= f.label :email %> <br/>
				<%= f.email_field :email, class: 'form-control col-4' %>
			</div>

			<div class="form-group">
				<%= f.label :phone_number %> <br/>
				<%= f.number_field :phone_number, class: 'form-control col-4' %>
			</div>

			<div>
		    <%= f.fields_for :address do |a| %>
		      <%= render 'users/address', add: a %>
		    <% end %>
		  </div>
		<% end %>  
	  <%= f.submit "Update", class: 'btn btn-primary' %>
	<% end %>
</div>